
.tw-followCard {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  transition: .3s ease background-color;

}
.tw-followCard:hover {
  background-color: rgb(21, 32, 43);

}

.tw-followCard-header {
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tw-followCard-content {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUsername {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tw-followCard-aside {
display: flex;

  
}
.tw-followCard-aside-btn {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
  
}

.tw-followCard-aside-btn:hover{
  cursor: pointer;
  /* background-color: #09f; */
  opacity: .8;
}

.tw-followCard-aside-btn.-is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: white;
  width: 120px;
  transition: .3s ease all;
  width: 140px;
}

.tw-followCard-aside-btn.-is-following:hover {
 /* background: rgb(255, 0, 0,0.178) ; */
 border: 1px solid red;
 color: red;
 transition: .3s ease all;
}
.tw-followCard-aside-btn.-is-following:hover .tw-followCard-text{
  display: none;
}
.tw-followCard-aside-btn.-is-following:hover .tw-followCard-StopFollow {
  display: block;
 }

.tw-followCard-StopFollow{
  display: none;
}